
.App3 {
    text-align: center;
    padding: 50px;
  }
  
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
  }
  
  
  
  .curved-button {
    padding: 40px 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
  }
  
  .curved-button:hover {
    background-color: #45a049;
  }
  
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  
  .close-button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #e53935;
  }